<div class="latest-activities">
    
    {{#each latestActivityViews as |activity|}}
        {{#link-to 'today' class="latest-activity"}}
            <div class="latest-activity-image" style="background-image: url({{activity.img}});"></div>
            <p class="latest-activity-title">{{activity.title}}</p>
            <p class="latest-activity-date">{{activity.date}}</p>
        {{/link-to}}
    {{/each}}
    
    {{yield}}

</div>
