{{!--{{subscribe-newsletter}}--}}

<div class="container">

  ...

  {{yield}}
</div>

<div class="footer-bottom">
  <div class="container d-flex justify-content-end">
    
    {{#link-to 'index' class='copyright d-flex mr-auto'}}
      {{t 'app.copyright' year=2018 brand=(t 'app.brand.title')}}
    {{/link-to}}

    <div class="footer-navigation-links d-flex">
      {{#each footerNavigationItems as |item|}}
          {{#link-to item.link}}
              {{t item.title}}
          {{/link-to}}
      {{/each}}
    </div>

  </div>
</div>
