{{#each activities as |activity|}}
    {{#link-to 'activity' (query-params id=activity.id) class="activity d-flex justify-content-start"}}
        <div class="activity-image" style="background-image: url({{activity.img}});"></div>
        <div class="activity-title">{{activity.title}}</div>
    {{/link-to}}
{{/each}}

{{yield}}