<div class="d-flex justify-content-center align-items-center">

    {{#link-to 'login'}}
        {{t 'app.navigation.login.title'}}
    {{/link-to}}

    {{#link-to 'register'}}
        {{t 'app.navigation.register.title'}}
    {{/link-to}}
    
    {{yield}}

</div>