{{#each categories as |category|}}
    <a class="btn btn-primary" {{action 'search' category}}>
        {{fa-icon category.ico}}
        <span>{{t category.title}}</span>
    </a>
{{/each}}

{{yield}}