
//
// Overwrite Basic Bootstrap Colors

$font-family-base: 'Roboto Condensed', cursive;
$primary: rgb(112, 130, 0);

$body-bg: darken($primary, 0%);

// $blue: $primary;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
// $red:     #dc3545 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
// $green:   #28a745 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;

//
// Color Offsets

$color-offset-default: 5%;

//
// Blur
$default-blur: .3em;

//
// Base Colors

$base-color: $body-bg;  // ( Grey )

$color-default:	  	$base-color;   	  // Default ( Base )
$color-primary:	  	$primary;   // Primary
$color-info:      	$color-default;		// Info
$color-success:	  	$color-default;		// Success
$color-warning:	  	$color-default;		// Warning
$color-danger:    	$color-default;		// Danger
$color-highlighted:	$primary;

//
// Layout Colors

$layout-color-default: $color-default;


//
// Text

$text-fontFamily: "Helvetica Neue",Helvetica,Arial,sans-serif;
$text-fontSize-default: .8rem;
$text-lineHeight-default: 1rem;
$text-weight-default: 300;

$text-color-default:  lighten($color-default, 70%);
$text-color-primary:  lighten($color-primary, 0%);
$text-color-info:     lighten($color-info, 50%);
$text-color-success:  lighten($color-success, 40%);
$text-color-warning:  lighten($color-warning, 50%);
$text-color-danger:   lighten($color-danger, 50%);


//
// Borders

$border-width-default: 1px;
$border-color-default: lighten($color-default, $color-offset-default * 2);
$border-style-default: solid;
$round-border-radius-default: 3px;


//
// Spaces

$space-default: 1em;


//
// Transitions

$transition-time-default: .2s;


//
// Shadow

$shadow-color-default: rgba(0, 0, 0, .4);
$shadow-size: $space-default;
$shadow-pos-left: 0px;
$shadow-pos-top: 0px;
$shadow-weight: 0px;


// Buttons

$btn-primary-color: lighten($primary, 100%);
$btn-primary-bg: $primary;
$btn-primary-border: darken($primary, 5%);
