
//
// Activity - List Item

.activities-list {

    .activity {
        $activity-size: 11em;

        position: relative;
        display: block;
        background-color: lighten($light, 100%);
        height: $activity-size;
        overflow: hidden;
        color: darken($light, $color-offset-default * 10);
        @include shadow(0 .1em .2em rgba(0,0,0,.2));
        @include transition();

        .activity-information {
            margin: $space-default 0 0 $space-default * 2;

            .activity-title {
                font-size: 1.6em;
                font-weight: 400;
            }

            .activity-categories {
                margin-top: $space-default;

                .btn {
                    padding: 0 .5em;
                    font-weight: 100;
                    color: lighten($light, $color-offset-default);
                }

            }

        }

        .activity-image {
            width: $activity-size;
            height: $activity-size;
            background-size: auto 100%;
            background-position: center;
            @include transition(all 0.3s ease-in-out);
        }

        .activity-date {
            width: $activity-size;
            height: $activity-size;
            background-size: 100%;
            background-color: $primary;
            color: lighten($light, $color-offset-default);

            .activity-date-day {
                text-align: center;
                font-size: 8em;
                line-height: .5em;
                font-weight: 400;
                font-family: 'Bilbo';
                margin-top: .2em;
                margin-bottom: .1em;
            }

            .activity-date-month {
                text-align: center;
                font-size: 3em;
                font-weight: 300;
                font-family: 'Bilbo';
            }

        }

        &:hover {
            text-decoration: none;
            @include shadow(0 .1em .2em rgba(0,0,0,.8));

            .activity-image {
                background-size: auto 140%;
            }
        }

    }

    // TODO: Maybe improve the activities list HTML structure
    > * ~ * {
        margin-top: $space-default;
    }

}
