
//
// Card

.card {

    .card-title {
        font-size: 1.4em;
    }

    .card-body {
        padding: 0 $space-default;
    }

}

.section-light {

    .card {
        background-color: rgba(lighten($light, $color-offset-default), 0);
        border: 0;
        padding: 0;

        .card-title {
            color: lighten($text-color-default, 100%);
            background: $color-default;
            padding: $space-default / 2 $space-default;
        }
        
        & ~ .card {
            margin-top: $space-default;
        }
    }

}