
//
// Card

.card {

    .card-title {
        font-size: 1.6em;
    }

    .card-body {
        padding: $space-default;
    }

}

.section-light {

    .card {
        background-color: rgba(lighten($light, $color-offset-default), .2);
        border: 0;
        
        & ~ .card {
            margin-top: $space-default;
        }
    }

}