
//
// Footer

footer {
	background: $color-default;
  color: lighten($color-default, 30%);
  
  a {
    color: lighten($color-default, 30%);

    &:hover {
      text-decoration: none;
      color: lighten($color-default, 50%);
    }

    &.active {
      color: lighten($color-default, 100%);
    }

    &.btn-outline-light {
      border: 1px solid lighten($color-default, 30%);

      &:hover {
        color: darken($color-default, 0%) !important;
      }

    }

  }

  .newsletter {

    .container {
      padding: $space-default 0;
    }

  }

  .footer-content {
    padding: $space-default * 2 0;
    
    h4 {
      color: lighten($color-default, 40%);
      margin-bottom: 1em;
      font-weight: 100;
    }

    .fa + * {
      margin-left: $space-default / 2;
    }

    .contact .fa {
      margin-top: .3em;
    }
    
  }

  .footer-bottom {
    padding: $space-default 0;
    background: darken($color-default, $color-offset-default * 2);
    
    a {

      & ~ a {
        margin-left: $space-default;
      }

    }

  }

}
