
//
// Footer

footer {
	background: $color-default;
  color: lighten($text-color-default, 100%);

  .newsletter {

    .container {
      padding: $space-default 0;


    }

  }

  .footer-bottom {
    padding: $space-default 0;
    background: darken($color-default, $color-offset-default);
    font-size: .9em;

    a {
      color: $text-color-default;

      &:hover {
        text-decoration: none;
      }

      &.active {
        color: lighten($text-color-default, 100%);
      }

      & ~ a {
        margin-left: $space-default;
      }

    }

  }

}
