
.row {

	& ~ .row {
		margin-top: $space-default * 6;
	}

	[class^="col"] ~ [class^="col"] {

		@include media-breakpoint-down(sm) {
			margin-top: $space-default * 2;
			padding-top: $space-default * 2;
			border-top: 1px solid lighten($color-default, 10%);
		}

		@include media-breakpoint-up(md) {

			&[class^="col-md-12 col-lg-4"] {
				margin-top: $space-default * 2;
				padding-top: $space-default * 2;
				border-top: 1px solid lighten($color-default, 10%);
			}
		}

		@include media-breakpoint-up(lg) {

			&[class^="col-md-12"] {
				margin-top: 0;
				padding-top: 0;
				border-top: 0;
			}
		}

	}

}
