
//
// Language Chooser

.language-chooser {

    .container {
        height: 2.2em;
    }

    .language-chooser-lang {
        cursor: pointer;
        padding: $space-default / 5;
        @include transition();
        @include round-corner-all();
        @include opacity(.5);

        &.active {
          @include opacity(1);
        }

        & ~ .language-chooser-lang {
            margin-left: $space-default / 2;
        }

        &:hover {
            color: lighten($text-color-default, 100%);
            background: rgba($color-highlighted, .5);
        }

    }

}
