
//
// Language Chooser

.language-chooser {

    .container {
        height: 2.3em;
    }

    .language-chooser-lang {
        cursor: pointer;
        padding: $space-default / 5;
        @include border-transparent();
        @include transition();

        & ~ .language-chooser-lang {
            margin-left: $space-default;
        }

        &:hover {
            background: darken($border-color-default, $color-offset-default);
            @include border-all();
        }
        
    }

}