
//
// Login

.login {
    
    a {
        color: darken($text-color-default, 20%);
        font-size: $text-fontSize-default / 1.1;
        padding: $space-default / 5 $space-default;
        @include border-transparent();
        @include transition();

        &:hover,
        &.active {
            color: lighten($text-color-default, 100%);
            background: darken($border-color-default, $color-offset-default);
            @include border-all();
        }
    }

}