
//
// Login

.login {

    a {
        color: darken($text-color-default, 20%);
        font-size: $text-fontSize-default / 1.1;
        line-height: .8em;
        padding: $space-default / 2 $space-default;
        @include transition();
        @include round-corner-all();

        &:hover,
        &.active {
            color: lighten($text-color-default, 100%);
            background: rgba($color-highlighted, .5);
            text-decoration: none;
        }
    }

}
