
//
// Main image

.main-image {
    min-height: 50em;
    position: relative;
    z-index: -1;
    overflow: hidden;
    background-color: $primary;
    @include transition();

    @include media-breakpoint-down(md) {
        min-height: 20em;
    }
    
    @include media-breakpoint-up(lg) {
        min-height: 50em;
    }
    
    * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: top center;
        background-size: 100%;
        background-repeat: no-repeat;
        @include blur();
        @include opacity(.5);

        @include media-breakpoint-up(md) {
            background-position: center;
        }
    }

    .main-image-gradient {
        background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.4) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.4) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.4) 100%);
    }

}
