
//
// Simple Search

.simple-search {
    position: absolute;
    top: 15em;
    left: 0;
    width: 100%;
    @include transition();

    @include media-breakpoint-down(md) {
        top: 10em;
    }
    
    .simple-search-title {
        font-size: 4em;
        font-weight: $text-weight-default;
        margin: 0;
        text-shadow: .02em .02em .03em #000;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .simple-search-information {
        font-size: 2em;
        font-weight: $text-weight-default;
        text-shadow: .02em .02em .03em #000;
        margin-left: .2em;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .simple-search-categories {
        background-color: rgba($color-primary,.5);
        padding: $space-default;
        border-color: $color-primary;
        border-radius: 0;
    }

    .show > .simple-search-categories {
        background-color: rgba($color-primary, 1);
    }

    .simple-search-categories-list {
        a {
            cursor: pointer;
        }
    }

    .simple-search-input {
        background-color: rgba(255,255,255,.7);
        border-color: $color-primary;
        padding: $space-default;
        @include transition();

        &:focus {
            background-color: rgba(255,255,255,1);
        }
    }

    .simple-search-submit {
        padding: $space-default;
        border-radius: 0;
    }
    
}