
//
// Simple Search

.simple-search {
    position: fixed;
    top: 15em;
    left: 0;
    width: 100%;
    
    .simple-search-title {
        font-size: 5em;
        font-weight: $text-weight-default;
        text-shadow: .02em .02em .03em #000;
    }

    .simple-search-information {
        font-size: 2em;
        font-weight: $text-weight-default;
        text-shadow: .02em .02em .03em #000;
    }

    .simple-search-categories {
        background-color: rgba($color-default,.5);
    }

    .simple-search-input {
        background-color: rgba(255,255,255,.5);
        @include transition();

        &:focus {
            background-color: rgba(255,255,255,1);
        }
    }

    .simple-search-submit {
        
    }
    
}