
//
// Simple Search

.simple-search {
    position: absolute;
    top: 15em;
    left: 0;
    width: 100%;
    @include transition();

    @include media-breakpoint-down(md) {
        top: 10em;
    }

    .simple-search-content {
        background: rgba(0,0,0,.5);
        padding: $space-default * 2;
    }

    .simple-search-title {
        font-size: 5em;
        // text-transform: uppercase;
        line-height: 1em;
        font-weight: $text-weight-default;
        margin: 0;
        text-shadow: .02em .02em .03em #000;
        font-family: $font-family-primary;
        mix-blend-mode: luminosity;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .simple-search-information {
        font-size: 2em;
        // text-transform: uppercase;
        font-weight: $text-weight-default;
        text-shadow: .02em .02em .03em #000;
        margin: 0 0 1em .2em;
        font-family: $font-family-primary;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .simple-search-categories {
        background-color: rgba($color-primary,1);
        padding: $space-default;
        border-color: $color-primary;
        border-radius: 0;
    }

    .show > .simple-search-categories {
        background-color: rgba($color-primary, 1);
    }

    .simple-search-categories-list {
        a {
            cursor: pointer;
        }
    }

    .simple-search-input {
        background-color: rgba(255,255,255,1);
        border-color: $color-primary;
        padding: $space-default;
        @include transition();

        &:focus {
            background-color: rgba(255,255,255,1);
        }
    }

    .simple-search-submit {
        padding: $space-default;
        border-radius: 0;
    }

    .simple-search-categories-search {
      margin-bottom: $space-default / 2;

        .btn {
            font-weight: $text-weight-default;
            
            &:hover {
                background-color: rgba($color-primary, 1);
            }
        }

    }

}
