{{main-image}}
{{simple-search 
    activities=model.activities
    categories=model.categories
}}

<section class="section-light">
    <div class="container">
        {{activities-list activities=model.activities}}
        {{outlet}}
    </div>
</section>
