{{main-image}}
{{simple-search 
    activities=model.activities
    categories=model.categories
}}

<section class="section-light">
    <div class="container">
        {{activities-list 
            filtersToggle=false
            filters=false
            activities=model.activities
            categories=model.categories
        }}
        {{outlet}}
    </div>
</section>
